/.metadata/
/.sonarlint/
/**/bin/
/**/lib/
/**/.metadata/
/**/target/
.apt_generated
.classpath
.factorypath
.polyglot.build.properties
.project
.settings
.springBeans
.sts4-cache
/Leitlinie - JavaCodeStyleCleanUp.xml
/Leitlinie - JavaCodeStyleCodeTemplates.xml
/Leitlinie - JavaCodeStyleFormatter.xml
/Leitlinie - JavaEditorTemplates.xml
/maven-settings-nexus.xml
/stssettings-4.5.1.txt
