<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target includeMode="feature" name="com.test.e4" sequenceNumber="6">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.rap.e4.equinox.target.feature.feature.group" version="3.6.0.20180912-0820"/>
		<unit id="org.eclipse.rap.e4.examples.feature.feature.group" version="3.6.0.20180912-0820"/>
		<unit id="org.eclipse.rap.e4.feature.feature.group" version="3.6.0.20180905-0859"/>
		<unit id="org.eclipse.rap.e4.sdk.feature.feature.group" version="3.6.0.20180905-0859"/>
		<repository location="http://download.eclipse.org/rt/rap/3.6/e4"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.persistence.sdk.feature.group" version="2.7.3.v20180807-4be1041"/>
		<repository location="http://download.eclipse.org/rt/eclipselink/updates/"/>
	</location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
        <unit id="h2.feature.group" version="1.4.197"/>
        <repository location="https://dl.bintray.com/simon-scholz/H2-Database-Engine/"/>
    </location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="ch.qos.logback.slf4j" version="1.0.7.v201505121915"/>
		<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180606145124/repository"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.nebula.feature.feature.group" version="1.4.0.201804281520"/>
		<repository location="http://download.eclipse.org/nebula/releases/latest"/>
	</location>
</locations>
</target>