<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="com.test.e4" sequenceNumber="6">
  <locations>
    <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <repository location="https://download.eclipse.org/rt/eclipselink/nightly-updates/"/>
      <unit id="org.eclipse.persistence.sdk.feature.group" version="2.7.7.v20200221-4a36f43ad2"/>
    </location>
    <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <repository location="https://download.eclipse.org/technology/babel/update-site/R0.17.1/2019-12/"/>
      <unit id="org.eclipse.babel.nls_eclipse_de.feature.group" version="4.14.0.v20200113020001"/>
    </location>
    <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20191126223242/repository"/>
      <unit id="ch.qos.logback.slf4j" version="1.0.7.v201505121915"/>
    </location>
    <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <repository location="http://download.eclipse.org/rt/rap/3.11/e4"/>
      <unit id="org.eclipse.rap.e4.sdk.feature.feature.group" version="3.11.0.20191127-1205"/>
      <unit id="org.eclipse.rap.e4.equinox.target.feature.feature.group" version="3.11.0.20191211-1200"/>
      <unit id="org.eclipse.rap.e4.feature.feature.group" version="3.11.0.20191127-1205"/>
    </location>
  </locations>
  <environment>
    <os>win32</os>
    <ws>win32</ws>
    <arch>x86_64</arch>
    <nl>de_DE</nl>
  </environment>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>