<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.test.e4.application.product"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="com.test.e4.application.product">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.test.e4.application/resources/css/default.css">
         </property>
         <property
           	   name="lifeCycleURI"
               value="bundleclass://com.test.e4.application/com.test.e4.application.Startup">
         </property>     
      </product>
   </extension>

</plugin>
