<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="RCP"
         name="RCP"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.test.e4.application.rcp.product"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="com.test.e4.application.rcp.product">
         </property>
         <property
               name="applicationXMI"
               value="com.test.e4.application/Application.e4xmi">
         </property>
		 <property
     		   name="applicationCSS"
			   value="platform:/plugin/com.test.e4.application/resources/css/default.css">
         </property> 
         <property
           	   name="lifeCycleURI"
               value="bundleclass://com.test.e4.application/com.test.e4.application.Startup">
         </property> 
      </product>
   </extension>

</plugin>
